/*
***************************************************************
***************************************************************

Template Name  : NAME | One Page Multipurpose Template
Author         : Hassan
Author URI     : http: //hasanrashed.com
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may need to edit this file to change your contents style.
This file contents are outlined below

***************************************************************
***************************************************************

========== INDEX PAGE CSS ==========
------------------------------------

*** -  1. Template Default Css
*** -  2. Template Background Css
*** -  3. Template Position Css 
*** -  4. Template Hover Css   
*** -  5. Template Buttons Css
*** -  6. Header Area Css
*** -  7. Welcome Area Css
*** -  8. Service Area Css
*** -  9. Team Area Css
*** - 10. Video Area Css 
*** - 11. Work Area Css
*** - 12. Testimonial Area Css
*** - 13. Pricing Area Css
*** - 14. Project Complete Area Css
*** - 15. Blog Area Css
*** - 16. Map Area Css
*** - 17. Brand Area Css
*** - 18. Footer Area Css
*** - 19. Template Hover Css
*** - 20. Template Transition Css


*/

/****
*   GOOGLE FONTS
*   =============================
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700i|Lato:400,700');
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #222;
    line-height: 1.5em;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}


/*
=========----------------------------------=========
            1.Template Default Css     
=========----------------------------------=========
*/

.section-padding {
    padding: 100px 0;
}

#subject-menu {
    padding: 30px 0;
}

.zero-padding {
    padding: 0;
}

.padding-r-0 {
    padding-right: 0;
}

.m-btm {
    margin-bottom: 15px;
}

.card-padding {
    padding: 5px;
}

/*
=========----------------------------------=========
            2.NAV  Css     
=========----------------------------------=========
*/

span.logo img {
    width: 75px;
    display: none;
}

.blue-bg {
    background: #0F4F93 !important
}

.blue-bg.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.blue-bg.navbar-light .navbar-brand {
    color: #fff;
}

.header-area {
    background: #204E8A;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-brand {
    color: #fff;
}

/*
=========----------------------------------=========
            2.CR Profile Css     
=========----------------------------------=========
*/

.ndomenu {
    background: #F7F7F7;
    padding: 3px 0;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.user-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-info h5 {
    margin: 0;
}

.user-info {
    margin-top: 24px;
}

.scroll-left {
    height: 30px;
    overflow: hidden;
    position: relative;
}

.scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -webkit-animation: scroll-left 30s linear infinite;
    animation: scroll-left 30s linear infinite;
}

.rec-all-activity {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

.user-contact-info p {
    margin-bottom: 0;
}

/* Move it (define the animation) */

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        /* Browser bug fix */
        -webkit-transform: translateX(100%);
        /* Browser bug fix */
        transform: translateX(100%);
    }
    100% {
        /* Browser bug fix */
        -webkit-transform: translateX(-100%);
        /* Browser bug fix */
        transform: translateX(-100%);
    }
}

.recent-detail h5 {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.recent-detail p {
    font-size: 12px;
    margin: -12px;
    padding: 0;
}

.recent-sign-pic img {
    width: 100%;
    height: 45px;
}

/*Class List Modal*/

.cl-list-tbl span {
    background: #4267B2;
    color: #fff;
    width: 25px;
    display: inline-block;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-size: 13px;
    margin-left: 5px;
}

/*Subject List Modal*/

.single-subject {
    width: 100%;
    height: 112px;
    color: #fff;
    background: #4267B2;
}

.single-subject i.icofont {
    font-size: 50px;
    color: #fff;
    line-height: 112px;
    opacity: .8;
}

.single-subject h4 {
    font-size: 14px;
    margin: 0;
    margin-top: 24px;
}

.single-subject p {
    font-size: 12px;
    line-height: 1.1;
    margin-top: 3px;
}

.single-subject {
    position: relative;
    z-index: 1;
    margin: 15px 0;
}

.single-subject:after {
    position: absolute;
    z-index: -1;
    left: 31px;
    top: 43px;
    width: 100%;
    height: 100%;
    content: "\ef8f";
    font-family: icofont;
    font-size: 125px;
    text-align: center;
    opacity: .3;
}

/*Assignment submit Modal*/

.assignment-submitl input {
    width: 100%;
    height: 34px;
    padding: 0 10px;
    font-size: 12px;
    margin: 5px 0;
}

.assignment-submitl textarea {
    width: 100%;
    height: 65px;
    padding: 2px 10px;
    font-size: 12px;
    margin: 5px 0;
}

.assignment-submitl input[type="file"] {
    padding-left: 0;
}

.assign-btn button {
    width: 100%;
    height: 34px;
    background: #4267B2;
    border: 1px solid #333;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.assign-btn i.icofont {
    font-size: 18px;
    margin-left: 8px;
}

.file-icon i.icofont {
    font-size: 40px;
    margin-top: 26px;
    display: block;
    color: #4267B2;
}

/*
=========----------------------------------=========
            3.Student Profile Page Css     
=========----------------------------------=========
*/

.sub-vdo iframe {
    width: 100%;
    height: 150px;
}

.sub-vdo img {
    width: 100%;
}

.crd-single-content p {
    color: #4267B2;
    margin: 0;
}

p.sngle-crd-admin {
    color: #666;
}

p.sngle-crd-admin span {
    margin-right: 15px;
}

/*
=========----------------------------------=========
            4.Template Hover Css     
=========----------------------------------=========
*/

.wrapper-input label {
    display: block;
}

.wrapper-input input {
    width: 100%;
    height: 38px;
    border: 1px solid #dddd;
    margin-bottom: 15px;
    padding: 0 10px;
    border-radius: 3px;
}

.wrapper-input button {
    padding: 8px 41px;
    display: inline-block;
    background: #F8C504;
    border: 1px solid #F8C504;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
    border-radius: 3px;
    cursor: pointer;
}

.notice-date p {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.note-poster h5 {
    color: #663FB5;
}

.note-poster span {
    font-size: 60%;
    margin-left: 10px;
    color: #999;
}

.note-poster p {
    color: #999;
}

.crl-1 h5 {
    color: #FFAB40;
}

.crl-2 h5 {
    color: #D81B60;
}

.crl-3 h5 {
    color: #7CB342;
}

.crl-4 h5 {
    color: #FFAB40;
}

.single-notice {
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
}

.single-notice:last-child {
    border-bottom: 0;
}

.page-title h5 {
    font-size: 14px;
    margin: 0;
    padding: 20px 0;
    color: #000;
}

.notice-board .card-header p,
.notice-form .card-header p {
    color: #000;
    font-weight: bold;
}

.all-notices {
    width: 100%;
    height: 460px;
    overflow-y: scroll;
}



.faculty-routine {
    width: 100%;
    height: 460px;
    overflow-y: scroll;
}

.wrapper-input select {
    width: 100%;
    height: 38px;
    border: 1px solid #ddd;
    padding: 0 10px;
    margin-bottom: 15px;
}

.wrapper-input textarea {
    width: 100%;
    height: 70px;
    font-size: 12px;
    padding: 3px 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.notice-content .card-header {
    background: #204E8A;
}

.notice-content .card-header p {
    color: #fff;
}

.wrapper-input input[type="file"] {
    border: 0;
    cursor: pointer;
    margin-bottom: 25px;
    padding-left: 0;
}

/*
=========----------------------------------=========
            5.LogIn Page Css     
=========----------------------------------=========
*/

.atten-frm input {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    margin-bottom: 20px;
}

.atten-frm button {
    width: 100%;
    height: 35px;
    border: 1px solid #204E8A;
    background: #204E8A;
    color: #fff;
    text-transform: uppercase;
    font-size: ;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.atten-frm button:hover {
    background: #fff;
    color: #204E8A;
}

.atten-frm {
    text-align: center;
}

.emply-reg-frm p {
    margin-top: 70px;
    color: #204E8A;
    text-transform: uppercase;
    font-weight: bold;
}

.atten-id {
    padding: 60px 30px;
    border: 1px solid #204E8A;
    margin: 50px 0;
}

/*
=========----------------------------------=========
            6.ADD ROUTINE PAGE Css     
=========----------------------------------=========
*/

.routine-txt .card-header {
    background: #204E8A;
    color: #fff;
}

.routine-txt span {
    display: block;
    margin-bottom: 8px;
}

.routine-txt input[type="submit"] {
    background: #204E8A;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #204E8A;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    width: 50%;
    margin: 0 auto;
}

.routine-txt input[type="submit"]:hover {
    background: #fff;
    color: #204E8A;
}

#routin .container {
    background: url(../img/logo.png)no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    z-index: 1;
}

#routin .container:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: "";
    opacity: .9;
    z-index: -1;
}

.routine-txt .card {
    background: rgba(255, 255, 255, .5);
}

/*
=========----------------------------------=========
            7.Dashboard Css     
=========----------------------------------=========
*/

.dash-single i.icofont {
    font-size: 35px;
}

.dash-single p {
    font-weight: bold;
}

#dashboard .card-header {
    background: #204E8A;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.dash-single a {
    display: block;
    color: #333;
}

/*
=========----------------------------------=========
            10.Batch Page Css     
=========----------------------------------=========
*/

.single-batch {
    margin-bottom: 30px;
}

.single-batch .card-header {
    background: #204E8A;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.single-batch p {
    margin-bottom: 0;
    font-weight: bold;
}

.single-batch i.icofont {
    font-size: 40px;
    display: inline-block;
    margin-top: 14px;
    color: #204E8A;
}

/*
=========----------------------------------=========
            Batch 02 Css     
=========----------------------------------=========
*/

.batchs-content .card-header {
    background: #204E8A;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.batch-single-txt h3 {
    margin-bottom: 0;
    color: #204E8A;
}

.batch-single-txt i.icofont {
    font-size: 45px;
    color: #666;
}

.batch-single-txt {
    background: #f6f6f6;
    padding: 20px 0;
    margin-bottom: 30px;
}

.batch-single-txt p {
    font-weight: bold;
}

.batch-single-txt {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.batch-single-txt:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*
=========----------------------------------=========
            10.Footer Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            10.Footer Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            Scroll To Top Area Css     
=========----------------------------------=========
*/

.top {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 40px;
    display: none;
    background: #fff;
    border: 2px solid #FA4C1C;
    z-index: 99;
    color: #FA4C1C;
    -webkit-transition: .3s;
    transition: .3s;
}

.top i.fa {
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}

.top:after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #FA4C1C;
    content: "";
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .2s;
    transition: .2s;
}

.top:hover {
    text-decoration: none;
    color: #fff;
}

.top:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 100%;
}

.top {
    display: none;
    bottom: 70px;
}


/*
=========----------------------------------=========
            Pre Loader Area Css     
=========----------------------------------=========
*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FA4C1C;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/****
*   Pre Loader Custom CSS
*   =============================
*/

.pre-loader-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.sk-folding-cube {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}


/*
 -------------------=======================----------------
|                       BLOG PAGE CSS                      |
 -------------------=======================----------------
*/
